<div class="container__big-card">
    <div class="big-card__photo">
        <img 
        src="https://th.bing.com/th/id/OIP.7DZkHYdU9A3u-nDG_G-5egHaD4?w=324&h=180&c=7&r=0&o=5&pid=1.7"
        alt=""
        height="200px"
        width="300px"
        srcset=""
         >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu nova versão do Angular!</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="">
            teste teste teste teste teste teste teste teste teste teste 
            teste teste teste teste teste teste teste teste teste teste
        </a>
        </p>
    </div>
</div>
