<div class="container__small-card">
    <div class="container__smallcard-content">
        <div class="small-card__photo">
            <img 
            src="https://th.bing.com/th?id=OIF.ICX6hMVa%2fFZksCWrnbepKQ&w=296&h=180&c=7&r=0&o=5&pid=1.7"
            alt=""
            srcset=""
             >
        </div>
        <div class="small-card__title">
            <h1><a href="#">Saiu nova versão do Angular!</a></h1>
        </div>

    </div>
        
        <div class="container__small-card__separator">
        <hr>   
        </div>
      </div>
      

